/***** TAG SELECTORS ****/
h1 {
  color: #8785a2;
  font-size: 100px;
}

body {
  background-color: #8785a2;
}

img {
  background-color: #ffc7c7;
}

h1:hover {
  background-color: #f2aaaa;
}


/***** CLASS SELECTORS ****/
.level1 {
  color: #f6f6f6;
}

.level2 {
  color: #ffe2e2;
}

.level3 {
  color: #ffc7c7;
}

.bold {
  font-weight: bold;
}


/***** ID SELECTORS ****/
#heading {
  /* id selectors overrides tag selectors */
  /* but can only be used for one element */
  color: #ffc7c7;
}
