body {
  background-color: #181C1F;
}

h1, p {
  color: #fff;
}

.pink {
  background-color: #181C1F;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.dark-btn {
  background-color: #181C1F;
}

.btn {
  width: 120px;
  border-color: #fff;
}

.keyIcon {
  color: #DF9DA9;
}
