<%- include('partials/header') %>

<div class="jumbotron text-center background-style">
  <div class="container">
    <i class="fas fa-key fa-6x keyIcon"></i>
    <h3 class="display-3">You've Discovered My Secret!</h3>
    <h1 class="secret-text">I am a billionaire. </h1>
    <hr>

    <a class="btn btn-pink btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">New Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
