<%- include('partials/header') %>

<div class="jumbotron text-center background-style">
  <div class="container">
    <i class="fas fa-key fa-6x keyIcon"></i>
    <h3 class="display-3">You've Discovered My Secret!</h3>

    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.secret%></p>
    <% }) %>

    <hr>
    <a class="btn btn-pink btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">New Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
