body {
  background-color: #f2aaaa;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", arial, sans-serif;
  font-weight: bold;
}

h2, h3, p {
  color: #f6f6f6;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: #f6f6f6;
}

hr {
    border-style: dotted none none none;
    border-width: 5px;
    border-color: #f6f6f6;
    width: 5%;
}

table {
  color: #f6f6f6;
  text-align: left;
}

.top-container {
  background-image: url("../images/ProfilePicLarge.jpg");
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;
  position: relative;
}


.cutie-button-div {
  position: relative;
  top: 45%;
}

.cutie-button {
  background-color: #8785a2;
  border-radius: 100px;
  border: none;
  color: #f6f6f6;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat", arial, sans-serif;
  line-height: 3;
  opacity: 0.7;
  padding: 10px 30px;
  text-align: center;
  transition-duration: 0.4s;
}

.cutie-button:hover {
  background-color: #8785a2;
  opacity: 1;
}

.middle-container {
  height: 600px;
  padding: 10px;
  position: relative;
}

.center-table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 130px;
}

.github-icon {
  height: 50px;
  width: auto;
}

.github-div {
  position: relative;
  top: 200px;
}

.bottom-container {
  background-color: #8785a2;
  height: 100px;
  width: auto;
}

.footer {
  position: relative;
  top: 40px;
}
