body {
  background-color: #f2aaaa;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", arial, sans-serif;
  font-weight: bold;
  font: 1em;
}

h2, h3, p {
  color: #f6f6f6;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: #f6f6f6;
}

hr {
    border-style: dotted none none none;
    border-width: 5px;
    border-color: #f6f6f6;
    width: 5%;
}

table {
  color: #f6f6f6;
  text-align: left;
}

.top-container {
  background-image: url("../images/ProfilePicLarge.jpg");
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;
  position: relative;
}


.cutie-button-div {
  position: relative;
  top: 45%;
}

.cutie-button {
  background-color: #8785a2;
  border-radius: 50px;
  border: none;
  color: #f6f6f6;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Montserrat", arial, sans-serif;
  opacity: 0.7;
  padding: 20px 30px;
  text-align: center;
  transition-duration: 0.1s;
}

.cutie-button:hover {
  background-color: #8785a2;
  opacity: 1;
}

.middle-container {
  height: 1000px;
  padding: 10px;
  position: relative;
}

.center-table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
}

.cute-icon {
  height: 100px;
  width: 100px;
}

.cute-container {
  position: absolute;
  left: 65%;
  bottom: 67%;
}

.cute-container:hover {
  filter: brightness(70%);
}

.daddy {
  position: relative;
  top: 200px;
}

.source {
  position: relative;
  left: 130px;
  font-size: 0.7rem;
  font-weight: normal;
}

.github-icon {
  height: 50px;
  width: auto;
}

.github-container {
  position: relative;
  top: 300px;
}

.github-icon:hover {
  filter: brightness(90%);
}

.email-container {
  position: relative;
  top: 300px;
  font-size: 0.7rem;
}

.bottom-container {
  background-color: #8785a2;
  height: 100px;
  width: auto;
}

.footer {
  position: relative;
  top: 40px;
}
