body {
  background-color: #181C1F;
}

h1, p {
  color: #fff;
}

hr {
  border-color: grey;
}

.background-style {
  background-color: #181C1F;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.dark-btn {
  background-color: #181C1F;
}

.btn {
  width: 150px;
  border: none;
}

.btn:hover {
  background-color: #fff;
  color: #DF9DA9;
}

.btn-pink {
  background-color: #DF9DA9;
}

.keyIcon {
  color: #DF9DA9;
}
