<%- include("partials/header"); -%>

<div class="postContent">
    <div class="post">
      <h3 class="postTitle"> <%= title %> </h3>
      <p> <%= journal %> </p>
    </div>
</div>

<%- include("partials/footer"); -%>
